@font-face {
  font-family: "DS-DIGI";
  src: url("./assets/fonts/DS-DIGI.TTF");
}
@font-face {
  font-family: "Spongeboy Me Bob";
  src: url("./assets/fonts/Spongeboy\ Me\ Bob.ttf");
}
body {
  margin: 0;
}
.clock {
  font-family: "Spongeboy Me Bob";
  font-size: 60px;
  font-weight: 800;
  color: #f2c438;
  margin-top: 12px;
}
.quotes {
  font-family: "Spongeboy Me Bob";
  margin-top: 10px;
  color: #f2c438;
  border: 0;
  background-color: transparent;
  font-size: 60px;
}
video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  object-fit: cover;
  z-index: -1;
}
/* min-heigt -> 화면 크기에 100퍼센트 높이 맞춤 . */
.container {
  max-width: 1500px;
  margin: auto;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 32px;
}

.new-quotes {
  display: none;
}

.new-quotes > button {
  font-size: 18px;
  padding: 10px 28px;
  border-radius: 10px;
  margin-left: 8px;
  border: 1px solid #f2c438;
}

.new-quotes-input {
  border: 1px solid #f2c438;
  padding: 12px 20px;
}

.new-quotes-input:focus {
  outline: 2px solid pink;
}
