@font-face {
  font-family: "DS-DIGI";
  src: url("./assets/fonts/DS-DIGI.TTF");
}
@font-face {
  font-family: "Spongeboy Me Bob";
  src: url("./assets/fonts/Spongeboy\ Me\ Bob.ttf");
}
body {
  margin: 0;
}
.clock {
  font-family: "DS-DIGI";
  font-size: 50px;
  font-weight: 800;
  color: #1f1f1f;
}
.quotes {
  font-family: "Spongeboy Me Bob";
  margin-top: 10px;
  color: yellow;
}
video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  object-fit: cover;
  z-index: -1;
}
/* min-heigt -> 화면 크기에 100퍼센트 높이 맞춤 . */
.container {
  max-width: 1500px;
  margin: auto;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 32px;
}
